@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #1A0B2E;
    color: white;
    /* margin: 20px 50px; */
}
p{
    font-size: 15px;
}
/* navbar */

.btn-primary{
    background: linear-gradient(135deg, #FFD166, #FF5F9E, #FF2FB2, #8A2BE2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 12px;
    border: 1px solid;
    border-radius: 20px;
    color: white;
}
.massage{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 12px;
    border: 2px solid;
    border-radius: 20px;
    color: green;
}

#tooltip{
    background-color: #00FF88;
   padding: 8px;
   border-radius: 30%;
   color: black;
   border: 1px solid;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 530px;
   top: 250px;
   z-index: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   font-size: 1.25rem;
   align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
}
.hamburger-menu{
    display: none;
}
.logo{
    width: 200px;
    margin-left: 20px;
}
.logo:hover{
   /* transform: scale(1.05); */
   filter: brightness(3.5);
  
}

/* 1st banner */
.banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-bottom: -100px;
}
.circle{
    position: relative;
    height: 400px;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    align-items: center;
}
.top{
    top: 35%;
    left: 45%;
    z-index: 2;
    position: relative;
}
.Tech{
    text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}
.Tech h1{
    margin: 15px auto;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 100px;
}
.podcast{
    text-align: center;
    margin: 50px auto;
}
.podcast h1{
    margin: 15px;
}

.join{
    margin: 20px 0;
}
 #line{
    width: 1200px; 
    height: 0;
    border: 1px solid cadetblue; 
    margin: 50px 60px;
 }
/* pointer */
.box{
    color:#00FF66;
}
.pointer{
   display: flex;
   justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 100px;
}

/* Grid container*/
.grid-container{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 210px);
    gap: 20px;
    border-radius: 10px;
        }
.grid-point{
 border: 2px solid rgb(2, 2, 63);
 border-radius: 20px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px  2px 2px rgb(1, 1, 43);
}
#grid-1{
    grid-row: span 2;
}
#grid-3{
    grid-column: span 2;
}
#grid-5{
    grid-column: span 1;
    grid-row: span 1;
}
#grid-1 img{
    margin-top: 65px;
} 
.grid-container h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.grid-container p{
      margin-bottom: 20px;
}

/* video-container */

.video-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px auto;
}
.video-header{
    text-align: center;
    margin-top: 80px;
}
.video{
     border: 1px solid rgb(74, 15, 129);
    border-radius: 30px;
    height: 280px;
    width: 350px;
     box-shadow: 2px 2px  2px 2px rgb(1, 1, 43);   
}
.frame{
    display: flex;
    align-items: center; 
}
.frame img, p{
  margin-right: 8px;
}

.latter{
    padding: 20px;
}
#video-02{
  width: 345px;
  height: 150;
}

/* Banner */
.card-container{
    display: flex;
    align-items: center;
   width: 1170px;
   height: 170px;
   background-color: #15032e;
   padding: 40px;
   gap: 24px;
   margin-top: 20px;
   margin-bottom: 80px;
   border-radius: 40px;
}
.entrepreneur h2, p{
   margin-bottom: 15px;
}
.entrepreneur img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  object-fit: cover;
  opacity: var(0.6);
}
.sponser{
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 25px auto;
    gap: 40px;
}
.last{
    display: grid;
    justify-content: center;
    align-items: center;
}
.footerlogo{
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
    padding: 100px;
}

       /* Animation */

    .animation{
     Animation: Bounce 1.5s infinite;
         }
    @keyframes Bounce {

    0%{
        transform: scale(1);
    }
    50%{
         transform: scale(1.2);
    }
    100%{
         transform: scale(1);
    }
}




/* responsive codes */

@media screen and (max-width:576px) {

    body{
    margin: 5px 10px;
    }
    #nav-logo {
        margin-left: -50px;
    }
    .top{
    top: 53%;
    left: 41%;
    width: 80px;
    }
    .bottom{
        width: 250px;
    }
    .hamburger-menu{
        display: inline;
        margin-right: -40px;
    }
    #tooltip{
   right: 120px;
   top: 230px;
    }
    .banner{
         margin: 0;
         padding: 0;
    }
    .menu{
        display: none;
    }
    #Subscribe{
        display: none;
    }
    .logo img{
    margin-left: 2px;
    width: 100%;
    text-align: center;
    justify-items: center;
} 
#line{
    width: 80%; 
 }
.pointer{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.grid-container{
    grid-template-columns: repeat(1, 1fr);   
}

/* video */
.video-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}
.card-container {
    display: grid;
    grid-template-columns: 1fr; 
    text-align: center;
    height: 420px;
    width: 85%;
  }
  .sponser{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  } 
  .last{
    width: 100%;
    height: 230px;
  }
  .footerlogo{
     margin: 0;
    padding: 0;
  }
}

@media screen and  (min-width:576px) and (max-width:992px) {
.card-container {
    display: grid;
    grid-template-columns: 1fr; 
    text-align: center;
    height: 350px;
    width: 90%;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.top{  
    left: 42%;
}
#tooltip{
    right: 350px;
   top: 230px;
}
#line{
    width: 80%; 
 }
}

